<tr>
  <td class="center">
    <label class="pos-rel">
      <input type="checkbox" class="ace" />
      <span class="lbl"></span>
    </label>
  </td>
  <td><%= raw question.title %></td>
  <% question.answers.each do |answer| %>
    <td><%= answer.content %></td>
  <% end %>
  <td>
    <%= t ".answer"%><br/><%= Answer.true_answer(question.id).first&.content %>
  </td>
  <td>
    <div class="hidden-sm hidden-xs btn-group">
      <%= link_to edit_admin_reading_grammar_question_path(question) do %>  
        <button class="btn btn-xs btn-info">
          <i class="ace-icon fa fa-pencil bigger-120"></i>
        </button>
      <% end %>
      <% if not_belong_to_exam(question.question_type) %>
        <%= link_to admin_reading_grammar_question_path(question), method: :delete, data: { confirm: t(".confirm") } do %>
          <button class="btn btn-xs btn-danger">
            <i class="ace-icon fa fa-trash-o bigger-120">
            </i>
          </button>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
