<div class="alert alert-info">
  <h2 class="center"><%= t ".header_create_grammar_exam" %></h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for @grammar_exam, url: admin_reading_grammar_exams_path do |f| %>
      <div class="center">
        <label><%= t ".name" %></label> <%= f.text_field :name %>
      </div>
      <br />
      <br />

      <%= paginate @questions_not_in_exam, theme: "twitter-bootstrap-3" %>
      <table id="simple-table" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="center">
            </th>
            
            <th class="center"><%= t ".title_question" %></th>
            <th class="center"><%= t ".option_a" %></th>
            <th class="center"><%= t ".option_b" %></th>
            <th class="center"><%= t ".option_c" %></th>
            <th class="center"><%= t ".option_d" %></th>
            <th class="center"><%= t ".solution" %></th>

          </tr>
        </thead>

        <tbody>
          <%= render "admin/reading/grammar_exams/questions_for_exam", questions: @questions_not_in_exam %>
        </tbody>
      </table>
      <button type="button" class="btn btn-danger btn-sm">
        <span class="ace-icon fa fa-pencil-square-o icon-on-right bigger-110"></span>
        <%= t ".cancel" %>
      </button>
      <button type="submit" class="btn btn-success btn-sm">
        <span class="ace-icon fa fa-pencil-square-o icon-on-right bigger-110"></span>
        <%= t ".create_exam" %>
      </button>
    <% end %>
  </div><!-- /.span -->
</div><!-- /.row -->
