<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".study_english" %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lingua project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'user_application' %>
    <% if controller.controller_name == "static_pages"%>
      <%= stylesheet_link_tag "user/main_styles" %>
      <%= stylesheet_link_tag "user/responsive" %>
    <% elsif controller.action_name == "show" %>
      <%= stylesheet_link_tag "user/course" %>
      <%= stylesheet_link_tag "user/course_responsive" %>
    <% else %>
      <%= stylesheet_link_tag "user/courses" %>
      <%= stylesheet_link_tag "user/courses_responsive" %>
    <% end %>
    <%= javascript_include_tag "https://unpkg.com/sweetalert/dist/sweetalert.min.js" %>
    <%= javascript_pack_tag "hello_vue" %>
  </head>

  <body>
    <div class="super_container">
      <!-- Header -->
      <%= render "layouts/header" %>
      <%= yield %>
      <!-- Footer -->
      <%= render "layouts/footer" %>
    </div>
    <!-- #customize end -->
    <!-- JavaScripts -->
    <%= javascript_include_tag "user_application" %>
    <% if controller.controller_name == "static_pages"%>
      <%= javascript_include_tag "user/custom" %>
    <% elsif controller.action_name == "show" %>
      <%= javascript_include_tag "user/plugins/parallax-js-master/parallax.min" %>
      <%= javascript_include_tag "user/plugins/progressbar/progressbar.min" %>
      <%= javascript_include_tag "user/course" %>
    <% else %>
      <%= javascript_include_tag "user/courses"  %>
    <% end %>
  </body>
</html>
